<div class="main">
  <div class="main-content">
     <div class="wide-content">
      <div class="loop">
        <div class="saying-list">
          <ul class="clearfix">
          <%= render partial: "proverb", collection: @proverbs %>
          </ul>
        </div>
      </div>
      <% if @proverbs.present? %>
          <%= paginate @proverbs %>
        <% end %>
     </div>
  </div>
</div>
