// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form.comment-main-form {
    display: flex;
    flex-direction: column;
}
.comment-form-area {
    width: 280px;
    margin-bottom: 10px;
    height: 200px;
    font-size: 20px;
}
input.comment-form-btn {
    color: black;
    background-color: white;
    padding: 8px 19px;
    display: block;
    font-size: 12px;
    border-radius: 2px;
    /* margin-top: 25px; */
    /* margin-right: 13px; */
}
.comment-display {
    margin-top: 30px;
}